<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>The writing app</title>
    <style>
        #popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    </style>
</head>
<body>

<% if (blog !== 'undefined' && blog !== null) { %>
    <div class="container mt-4">
        <form action="/index/blogs/<%= blog._id %>/edit" method="post">
    
            <div class="mb-3">
                <textarea class="form-control" id="title" name="title" rows="1" placeholder="Title"><%= blog.title %></textarea>
            </div>
    
            <div class="mb-3">
                <textarea class="form-control" id="subtitle" name="subtitle" rows="1" placeholder="Subtitle"><%= blog.subtitle %></textarea>
            </div>
    
            <div class="mb-3">
                <textarea class="form-control" id="body" name="body" rows="10" placeholder="Write something..."><%= blog.body %></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="previewMarkdown()">Preview</button>

            <button type="submit" class="btn btn-success">Save Changes</button>
            <button type="button" class="btn btn-secondary" onclick="cancel()">Cancel</button>

        </form>
    
        <div class="mt-4">
            <h2>Preview</h2>
            <div id="preview"></div>
        </div>
        <button id="footnotebutton">Add footnote</button>
        <div id="popup">
            <input type="text" id="footnote-input" placeholder="Enter footnote text">
        </div>
    </div>
    
<% } else { %>
    <div class="container mt-4">
        <form action="/index/saveblog" method="post">
    
            <div class="mb-3">
                <textarea class="form-control" id="title" name="title" rows="1" placeholder="Title"></textarea>
            </div>
    
            <div class="mb-3">
                <textarea class="form-control" id="subtitle" name="subtitle" rows="1" placeholder="Subtitle"></textarea>
            </div>
    
            <div class="mb-3">
                <!-- Add a name attribute for HTTP POST -->
                <textarea class="form-control" id="body" name="body" rows="10" placeholder="Write something..."></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="previewMarkdown()">Preview</button>
    
            <!-- Stylized "Save" button -->
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary" onclick="cancel()">Cancel</button>

        </form>
    
        <div class="mt-4">
            <h2>Preview</h2>
            <div id="preview"></div>
        </div>
        <button id="footnotebutton">Add footnote</button>
        <div id="popup">
            <input type="text" id="footnote-input" placeholder="Enter footnote text">
        </div>

    </div>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@3.0.2/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
    // var cancelledblog = '<%- JSON.stringify(blog) %>';
    var simplemde;

    document.addEventListener('DOMContentLoaded', function () {
        simplemde = new SimpleMDE({ element: document.getElementById("body"), autofocus: true,});
    });

    function addAttributesToSelection(popuptext) {
        var cm = simplemde.codemirror;
        var selectedText = cm.getSelection();
        if (selectedText && popuptext) {
          var count = getFootnoteCount();
          console.log('number of footnotes: ' + count);
          var replacement = `<span class="footnote" data-content="${popuptext}">${selectedText}[${count}]</span>`;
          cm.replaceSelection(replacement);
        }
    }

    document.getElementById('footnotebutton').addEventListener('click', function () {
       document.getElementById('popup').style.display = 'block';
       document.getElementById('footnote-input').focus();
    });

    document.addEventListener('click', function (event) {
      var popup = document.getElementById('popup');
      if (!popup.contains(event.target) && event.target !== document.getElementById('footnotebutton')) {
        popup.style.display = 'none';
        var footnoteText = document.getElementById('footnote-input').value;
        addAttributesToSelection(footnoteText);
        document.getElementById('footnote-input').value = '';
      }
    });

    function previewMarkdown() {
        if (simplemde) {
            var markdownContent = simplemde.value();
            var previewContainer = document.getElementById("preview");
            previewContainer.innerHTML = marked(markdownContent);
        } else {
            console.error('SimpleMDE is not defined.');
        }
    }

    function cancel() {
        window.location.href = '/index';
    }

    function getFootnoteCount() {
        var elements = document.getElementsByClassName('cm-attribute');

        // Count occurrences
        var count = 0;
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].innerHTML === 'data-content') {
                count++;
            }
        }
        return count+1;
    }

</script>

</body>
</html>
