<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
    <title>The writing app</title>
    <style>
        .CodeMirror {
            height: 470px; /* Set your desired height */
            max-height: 100%;
        }

        #popup {
            display: none;
        }

        .custom-textarea {
            border: none; /* Remove the border */
            border-radius: 0; /* Optional: Remove border-radius */
            resize: none; /* Optional: Disable textarea resizing */
        }

        /* Custom style for the placeholder text */
        .custom-textarea::placeholder {
            color: #999; /* Placeholder text color */
            font-size: large;
            font-weight: bold;
        }

        /* Custom style for the input text */
        form .custom-textarea:focus {
            outline: none; /* Remove the focus outline */
            /* Additional styles for focused state if needed */
        }
        
    </style>
</head>
<body>

<% if (blog !== 'undefined' && blog !== null) { %>
    <div class="container mt-4">
        <form action="/index/blogs/<%= blog._id %>/edit" method="post">
    
            <div class="mb-3">
                <textarea class="form-control custom-textarea" id="title" name="title" rows="1" placeholder="Title" style="font-size: large;"><%= blog.title %></textarea>
            </div>
    
            <div class="mb-3">
                <textarea class="form-control custom-textarea" id="subtitle" name="subtitle" rows="1" placeholder="Subtitle"><%= blog.subtitle %></textarea>
            </div>
    
            <div class="mb-3">
                <textarea class="form-control" id="body" name="body" rows="10" placeholder="Write something..."><%= blog.body %></textarea>
            </div>

            <div class="mb-3">
                <textarea class="form-control custom-textarea" id="tags" name="tags" rows="1" placeholder="Add comma separated tags (Optional)"></textarea>
            </div>
            
            <button type="button" class="btn btn-primary" onclick="previewMarkdown()">Preview</button>
            <button type="submit" class="btn btn-success">Save Changes</button>
            <button type="button" class="btn btn-secondary" onclick="cancel()">Cancel</button>
            <button type="button" class="btn btn-secondary" id="footnotebutton">Add footnote</button>

        </form>
    
        <div class="mt-4">
            <h2>Preview</h2>
            <div id="preview"></div>
        </div>

        <div id="popup">
            <input type="text" id="footnote-input" placeholder="Enter footnote text">
        </div>
    </div>
    
<% } else { %>
    <div class="container mt-4">
        <form action="/index/saveblog" method="post">
    
            <div class="mb-3">
                <textarea class="form-control custom-textarea" id="title" name="title" rows="1" placeholder="Title"></textarea>
            </div>
    
            <div class="mb-3">
                <textarea class="form-control custom-textarea" id="subtitle" name="subtitle" rows="1" placeholder="Subtitle"></textarea>
            </div>
    
            <div class="mb-3">
                <textarea class="form-control" id="body" name="body" rows="10" placeholder="Write something..."></textarea>
            </div>

            <div class="mb-3">
                <textarea class="form-control custom-textarea" id="tags" name="tags" rows="1" placeholder="Add comma separated tags (Optional)"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="previewMarkdown()">Preview</button>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary" onclick="cancel()">Cancel</button>
            <button type="button" class="btn btn-secondary" id="footnotebutton">Add footnote</button>

        </form>
    
        <div class="mt-4">
            <h2>Preview</h2>
            <div id="preview"></div>
        </div>

        <div id="popup">
            <input type="text" id="footnote-input" placeholder="Enter footnote text">
        </div>

    </div>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@3.0.2/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
    // var cancelledblog = '<%- JSON.stringify(blog) %>';
    var simplemde;

    document.addEventListener('DOMContentLoaded', function () {
        simplemde = new SimpleMDE({ element: document.getElementById("body"), 
        autofocus: true,
        placeholder: "Type here...",
        toolbar: [
            "bold", 
			"italic", 
			"strikethrough", "|",
			"heading", 
			"heading-smaller", 
			"heading-bigger", "|", 
			"heading-1",
			"heading-2",
			"heading-3", "|",
			"quote", 
			"code",
			"unordered-list", 
			"ordered-list", "|", 
			"clean-block",
			"link", 
			"image",
			"table", 
			"horizontal-rule", "|",
			"preview",
			"side-by-side",
			"fullscreen",
            {
            name: "addfootnote",
                action: function customFunction(simplemde){
                    document.getElementById('popup').style.display = 'block';
                    document.getElementById('popup').style.visibility = 'visible';
                    document.getElementById('footnote-input').focus();
                },
                className: "fa-regular fa-note-sticky",
                title: "Add footnote",
            },
			"guide"
        ],
      });
    });

    // Add html footnote markup to selected text
    function addAttributesToSelection(popuptext) {
        var cm = simplemde.codemirror;
        var selectedText = cm.getSelection();
        if (selectedText && popuptext) {
          var count = getFootnoteCount();
          console.log('number of footnotes: ' + count);
          var replacement = `<span class="footnote" data-content="${popuptext}">${selectedText}<sup>[${count}]</sup></span>`;
          cm.replaceSelection(replacement);
        }
    }

    // Display footnote popup on button click
    document.getElementById('footnotebutton').addEventListener('click', function () {
       document.getElementById('popup').style.display = 'block';
       document.getElementById('footnote-input').focus();
    });

    // Detect outside click
    document.addEventListener('click', function (event) {
      var popup = document.getElementById('popup');
      if (!popup.contains(event.target) && event.target !== document.getElementById('footnotebutton')) {
        popup.style.display = 'none';
        var footnoteText = document.getElementById('footnote-input').value;
        addAttributesToSelection(footnoteText);
        document.getElementById('footnote-input').value = '';
      }
    });

    function previewMarkdown() {
        if (simplemde) {
            var markdownContent = simplemde.value();
            var previewContainer = document.getElementById("preview");
            previewContainer.innerHTML = marked(markdownContent);
        } else {
            console.error('SimpleMDE is not defined.');
        }
    }

    function cancel() {
        window.location.href = '/homepage';
    }

    function getFootnoteCount() {
        var elements = document.getElementsByClassName('cm-attribute');

        // Count occurrences
        var count = 0;
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].innerHTML === 'data-content') {
                count++;
            }
        }
        return count+1;
    }

</script>

</body>
</html>