<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The writing app</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">

</head>

<style>
    .left-section {
        padding: 15px;
        height: 100vh;
    }

    .right-section {
        /* background-color: #f2f2f2; */
        height: 100vh;
        padding: 15px;
    }

    .list-group-item {
        border: none !important;
        border-top: 0px solid rgba(0, 0, 0, 0.125) !important;
        background-color: transparent !important;
    }

    .list-item-container {
        display: inline-block;
        margin-right: 5px;
        padding: 0 10px;
    }

    .big-list-item {
        border: none !important;
        line-height: 2.5;
        border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
        background-color: transparent !important;
        font-weight: bold;
    }

    .blog-list-title {
        color: #B0A648
    }

    .blog-list-subtitle {
        padding-top: 0px;
        color: rgb(25, 24, 24);
    }

    .vertical-line {
        border-left: 1px solid #ccc;
        height: 100%;
    }

    .btn-rounded {
        display: inline-block;
        border-radius: 15px;
        background-color: #bfbfbf;
        color: #fff;
        border: none;
        box-shadow: none;
        font-size: smaller;
        height: 30px;
        padding: 0 10px;
        margin-right: 5px;
        line-height: 30px;
    }

    .button-not-following {
        background-color: transparent;
        border: 1px solid #B0A648;
        color: #B0A648;
        width: 100px;
        height: 30px;
        padding: 0 10px;
        cursor: pointer;
        border-radius: 50px;
    }

    .button-following {
        /* Following button styles */
        background-color: #B0A648;
        border: none;
        color: #fff;
        width: 100px;
        height: 30px;
        padding: 0 10px;
        cursor: pointer;
        border-radius: 50px;
    }

    
</style>

<body>

    <% var displayName = loggedinuser.firstname ? loggedinuser.firstname : loggedinuser.username; %>


    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" style="margin-right: 15px;" href="/index/createnew" id="createNewLink"><i class="fa-solid fa-plus"></i></a></li>
                <li class="nav-item active"><a class="nav-link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                <li class="nav-item active"><a class="nav-link" href="/index/profile"> <%= displayName %></a></li>
            </ul>
        </div>
    </nav>
    

    <div class="container-fluid">
        <div class="row">

            <!-- Left Section -->
            <div class="col-md-3 left-section">
                <h6>Discover</h6>
                <ul class="list-group" id="userList"></ul>
            </div>


            <!-- Middle Section -->
            <div class="col-md-7 vertical-line">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <h4 class="mt-4">For You</h4>

                    <!-- Dropdown Trigger -->
                    <h6 class="mt-4 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                    </h6>
                    <!-- Dropdown Menu -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Last updated</a>
                        <a class="dropdown-item" href="#">Created date</a>
                        <a class="dropdown-item" href="#">A to Z</a>
                        <a class="dropdown-item" href="#">Z to A</a>
                    </div>

                    
                </div>
                <div class="list-group">
                    <% personalblogs.forEach(personalblog => { %>
                    <a href="/index?id=<%= personalblog._id %>" data-blog-id="<%= personalblog._id %>" class="list-group-item list-group-item-action flex-column align-items-start big-list-item">
                
                        <div class="row">
                        <div class="col-auto">
                            <img src="https://ak-d.tripcdn.com/images/1mi3e2224vymivgpcC549.jpg?proc=source/trip" alt="Image 2" class="img-thumbnail" width="150" height="150">
                        </div>
                
                        <div class="col">
                            <small class="text-muted">
                                <%= personalblog.author %> &middot; <%= personalblog.formatteddate %> &middot; <%= personalblog.timetoread %>
                                <% if (personalblog.paywall) { %>
                                    <i class="fa-solid fa-crown" style="padding-left: 10px; color: #B0A648;"></i>
                                <% } %>
                            </small>
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 blog-list-title"><%= personalblog.title %></h5>
                                <%
                                function calculateElapsedTime(formattedDate) {
                                    var currentDate = new Date();
                                    var date = new Date(formattedDate);

                                    var timeDifference = currentDate - date;
                                    var daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));

                                    if (daysDifference === 0) {
                                    return 'today';
                                    } else if (daysDifference === 1) {
                                    return 'yesterday';
                                    } else if (daysDifference < 7) {
                                    return daysDifference + ' days ago';
                                    } else {
                                    return date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });
                                    }
                                }

                                // Call the function with the formatted date from featuredblog
                                var elapsedTime = calculateElapsedTime(personalblog.formatteddate);
                                %>

                              <small class="text-muted"><%= elapsedTime %></small>
                            </div>
                            <p class="mb-1 blog-list-subtitle"><%= personalblog.subtitle %></p>
                            <% if (personalblog.tags.length > 0) { %>
                                <% personalblog.tags.forEach(tag => { %>
                                    <% if(tag.trim().length !== 0) { %>
                                        <button type="button" class="btn-rounded" disabled><%= tag %></button>
                                    <% } %>
                                  
                                <% }) %>
                              <% } %>
                              
                        </div>
                
                        </div>
                    </a>
                    <% }); %>
                </div>
                
            </div>
            

            <!-- Right Section-->
            <div class="col-md-2 right-section">
                
            </div>
        </div>
    </div>

<!-- Bootstrap JS and dependencies (popper.js, jQuery) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>

document.addEventListener("DOMContentLoaded", function () {
    buildDiscoverPeopleList();
        
});

    async function buildDiscoverPeopleList() {
        // Fetch data from the API endpoint
        fetch('/homepage/getDiscoverPeople')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const userList = document.getElementById('userList');
                userList.innerHTML = ``;
                data.discoverpeople.forEach(communityuser => {
                    // is data.loggedinuser._id included in communityuser.paidsubscribers array?
                    const displayName = communityuser.firstname ? `${communityuser.firstname} ${communityuser.lastname} (@${communityuser.username})` : communityuser.username;
                    const paidsubsindicator = communityuser.paidsubscribers.includes(data.loggedinuser._id) ? '<i class="fa-solid fa-certificate"></i>' : '';
                    const buttonText = communityuser.followers.includes(data.loggedinuser._id) ? 'Unfollow' : 'Follow';
                    const buttonClass = communityuser.followers.includes(data.loggedinuser._id) ? 'button-following' : 'button-not-following';

                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                    listItem.innerHTML = `
                        <div class="list-item-container">
                            ${displayName}
                            ${paidsubsindicator}
                        </div>
                        <button class="btn btn-sm ${buttonClass} ml-auto" onclick="toggleFollowingFollowers(this, '${communityuser._id}', '${data.loggedinuser._id}')">
                            ${buttonText}
                        </button>
                    `;

                    userList.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('Error fetching data: ', error);
            });

    }

    async function toggleFollowingFollowers(button, communityUserId, loggedInUserId) {
        const url = '/index/toggleFollowingAndFollowers';
        const data = {
            loggedInUserId: loggedInUserId,
            communityUserId: communityUserId
        };

        try {
            const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
            });

            if (!response.ok) {
                console.error('HTTP POST request failed:', response.statusText);
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const result = await response.json();
            console.log('Server response:', result);

            buildDiscoverPeopleList();

        } catch (error) {
            console.error('Error sending data to server:', error.message);
        }
    }
    

</script>

</body>
</html>
