<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The writing app</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">

</head>

<style>
    .left-section {
        padding: 15px;
        height: 100vh;
    }

    .right-section {
        /* background-color: #f2f2f2; */
        height: 100vh;
        padding: 15px;
    }

    .list-group-item {
        border: none !important;
        border-top: 0px solid rgba(0, 0, 0, 0.125) !important;
        background-color: transparent !important;
        font-weight: bold;
    }

    .big-list-item {
        border: none !important;
        line-height: 2.5;
        border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
        background-color: transparent !important;
        font-weight: bold;
    }

    .blog-list-title {
        color: #B0A648
    }

    .blog-list-subtitle {
        padding-top: 0px;
        color: rgb(25, 24, 24);
    }

    .vertical-line {
        border-left: 1px solid #ccc;
        height: 100%;
    }

    .btn-rounded {
        display: inline-block;
        border-radius: 15px;
        background-color: #bfbfbf;
        color: #fff;
        border: none;
        box-shadow: none;
        font-size: smaller;
        height: 30px;
        padding: 0 10px;
        margin-right: 5px;
        line-height: 30px;
    }
    
</style>

<body>

    <% var displayName = loggedinuser.firstname ? loggedinuser.firstname : loggedinuser.username; %>


    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" style="margin-right: 15px;" href="/index/createnew" id="createNewLink"><i class="fa-solid fa-plus"></i></a></li>
                <li class="nav-item active"><a class="nav-link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                <li class="nav-item active"><a class="nav-link" href="/index/profile"> <%= displayName %></a></li>
            </ul>
        </div>
    </nav>
    

    <div class="container-fluid">
        <div class="row">

            <!-- Left Section -->
            <div class="col-md-2 right-section">
                <h6>Discover</h6>
                <ul class="list-group">
                    <% communityusers.forEach(communityuser => { %>
                    <% var displayName = communityuser.firstname ? communityuser.firstname + ' ' + communityuser.lastname + ' (@' + communityuser.username + ')' : communityuser.username; %>
                        <li class="list-group-item"><%= displayName %></li>
                    <% }); %>
                </ul>
            </div>

            <!-- Middle Section -->
            <div class="col-md-7 vertical-line">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <h4 class="mt-4">For You</h4>

                    <!-- Dropdown Trigger -->
                    <h6 class="mt-4 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                    </h6>
                    <!-- Dropdown Menu -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Last updated</a>
                        <a class="dropdown-item" href="#">Created date</a>
                        <a class="dropdown-item" href="#">A to Z</a>
                        <a class="dropdown-item" href="#">Z to A</a>
                    </div>

                    
                </div>
                <div class="list-group">
                    <% personalblogs.forEach(personalblog => { %>
                    <a href="/index?id=<%= personalblog._id %>" data-blog-id="<%= personalblog._id %>" class="list-group-item list-group-item-action flex-column align-items-start big-list-item">
                
                        <div class="row">
                        <div class="col-auto">
                            <img src="https://ak-d.tripcdn.com/images/1mi3e2224vymivgpcC549.jpg?proc=source/trip" alt="Image 2" class="img-thumbnail" width="150" height="150">
                        </div>
                
                        <div class="col">
                            <small class="text-muted"><%= personalblog.author %> &middot; <%= personalblog.formatteddate %> &middot; <%= personalblog.timetoread %></small>
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 blog-list-title"><%= personalblog.title %></h5>
                            <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1 blog-list-subtitle"><%= personalblog.subtitle %></p>
                            <% if (personalblog.tags.length > 0) { %>
                                <% personalblog.tags.forEach(tag => { %>
                                    <% if(tag.trim().length !== 0) { %>
                                        <button type="button" class="btn-rounded" disabled><%= tag %></button>
                                    <% } %>
                                  
                                <% }) %>
                              <% } %>
                              
                        </div>
                
                        </div>
                    </a>
                    <% }); %>
                </div>
                
            </div>
            

            <!-- Right Section-->
            <div class="col-md-3 right-section">
                
            </div>
        </div>
    </div>

<!-- Bootstrap JS and dependencies (popper.js, jQuery) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
