<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/03adeb66cc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
    <title>My writing app</title>
</head>

<style>
    body {
        background-color: #120D48;
        height: 30vh;
    }
</style>

<body>
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light custom-homepage-navbar">

        <a class="navbar-brand mr-auto" href="/homepage" style="margin-left: 10px;">
            <div class="d-flex align-items-center brand">
                <div class="overflow-hidden mr-2">
                    My App
                </div>
                <div class="overflow-hidden brand-subtitle">
                    <small>Subtitle</small>
                </div>
            </div>
        </a>
		
		<button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars" style="color: white"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="color: white;">
                <li class="nav-item active mr-3" style="color: white;" onclick="highlightNavItem(this)">
                    <a class="nav-link" style="color: white;" href="javascript:void(0);">Home</a>
                </li>
                <li class="nav-item mr-3" style="color: white;" onclick="highlightNavItem(this)">
                    <a class="nav-link" style="color: white;" href="javascript:void(0);">About Us</a>
                </li>
                <li class="nav-item mr-3" style="color: white;" onclick="highlightNavItem(this)">
                    <a class="nav-link" style="color: white;" href="javascript:void(0);">Monetization</a>
                </li>
                <li class="nav-item mr-3" style="color: white;" onclick="highlightNavItem(this)">
                    <a class="nav-link" style="color: white;" href="javascript:void(0);">Explore</a>
                </li>
            </ul>
        </div>

      </nav>

    <!-- Banner -->
    <div class="banner">
        <div class="container" style="height: auto; display: flex; flex-direction: column; align-items: left; justify-content: center;">
            <div class="row mt-5 mb-5">
                <!-- left side of the banner -->
                <div class="col-md-8">
                    <h1 class="mb-3 mb-md-0 text-md">Empowering Thoughts, <span style="color: #03fc5e;">Crafting</span> Stories!</h1>
                    <p class="banner-subtitle-text mb-3 mb-md-4">Welcome to my app, where every thought finds a home. Explore, express, and connect through the power of words. Your story matters, and this is the place to tell it.</p>
                    <button class="get-started-btn mb-3 mb-md-4" onclick="showRegisterModal()">Get started</button>
                    <p style="font-size: small;">Already a member? <a class="sign-in" href="javascript:void(0);" onclick="showLoginModal('')">Sign in</a></p>
                </div>
    
                <!-- right side of the banner -->
                <div class="col-md-4">
    
                </div>
            </div>
        </div>
    </div>

    <!-- Responsive Layout using Bootstrap Grid -->
    <div class="container-fluid" style="background-color: white;">
        <div class="row d-flex align-items-start pt-4">
            <!-- List on the left side -->
            <div class="col-md-8 list-container">
               <h6><i class="fa-solid fa-chart-line"></i> Popular</h6>
                
               <div class="list-group">

                <% allblogs.forEach(personalblog => { %>
                    
                    <div class="row align-items-start">

                        <!-- Render blog image  -->
                        <div class="col-md-3 mb-2">
                            <% 
                                const bodyHtml = personalblog.body || ''; // Ensure personalblog.body is defined
                                // Define a regular expression to match the src attribute in an img tag
                                const imgSrcRegex = /<img[^>]*src=["']([^"']+)["']/i;
                                const match = bodyHtml.match(imgSrcRegex);
                                if (match) {
                                    // Extract the src attribute value
                                    const src = match[1];
                            %>
                                    <img src="<%= src %>" alt="Image" class="img-thumbnail">
                            <%
                                } else {
                                    // Display the default picture if no img tags are found
                            %>
                                    <img src="https://ak-d.tripcdn.com/images/1mi3e2224vymivgpcC549.jpg?proc=source/trip" alt="Default Image" class="img-thumbnail">
                            <%
                                }
                            %>
                        </div>
                   
                   
                        <div class="col-md-9">
                            <!-- Render ribbon area -->
                            <small class="ribbon">
                                <%= personalblog.author %> &middot; <%= personalblog.formatteddate %> &middot; <%= personalblog.timetoread %>
                                
                                <% if (personalblog.paywall) { %>
                                    <i class="fa-solid fa-crown" style="padding-left: 10px; color: var(--color-titletext);"></i>
                                <% } %>
                                <button class="homepage-follow-btn-small" id="blog-list-round-btn" onclick="showRegisterModal()">Follow</button>
                            </small>
                            
                            <a href="/index/blogs/public/<%= personalblog._id %>" data-blog-id="<%= personalblog._id %>" class="list-group-item list-group-item-action flex-column align-items-start big-list-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 blog-list-title"><%= personalblog.title %></h5>
                                    <%
                                    function calculateElapsedTime(formattedDate) {
                                        var currentDate = new Date();
                                        var date = new Date(formattedDate);

                                        var timeDifference = currentDate - date;
                                        var daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));

                                        if (daysDifference === 0) {
                                        return 'today';
                                        } else if (daysDifference === 1) {
                                        return 'yesterday';
                                        } else if (daysDifference < 7) {
                                        return daysDifference + ' days ago';
                                        } else {
                                        return date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });
                                        }
                                    }

                                    // Call the function with the formatted date from featuredblog
                                    var elapsedTime = calculateElapsedTime(personalblog.formatteddate);
                                    %>

                                <small class="timesince"><%= elapsedTime %></small>
                            </div>
                            <p class="mb-1 blog-list-subtitle"><%= personalblog.subtitle %></p>

                            <p class="mb-1 blog-list-body">
                                <% 
                                var plainText = personalblog.body.replace(/<[^>]*>/g, '');
                                plainText = plainText.replace(/\[[^\]]*\]/g, '');
                                var truncatedText = plainText.length <= 200 ? plainText : plainText.substring(0, 200) + '...';
                                %>
                                <%= truncatedText %>
                            </p>


                            <% if (personalblog.tags.length > 0) { %>
                                <% personalblog.tags.forEach(tag => { %>
                                    <% if(tag.trim().length !== 0) { %>
                                        <button type="button" class="homepage-btn-rounded" disabled><%= tag %></button>
                                    <% } %>
                                <% }) %>
                            <% } %>
                            
                        </div>
            
                    </div>
                </a>
                <% }); %>
            </div>

            </div>

            <!-- Text on the right side (moved below on smaller screens) -->
            <div class="col-md-4 text-container">
               <h6><i class="fa-solid fa-glasses"></i> Discover topics</h6>
                <div id="tags" class="container-fluid tags"></div>
               <button class="seemore-btn" id="seemore-btn" onclick=toggleTagsview(this)>see more</button>
               <hr>
               <h6><i class="fa-solid fa-user-plus"></i> Top Voices</h6>
               <ul class="user-list-group" id="userList" style="padding-inline-start: 0px;"></ul>
            </div>
        </div>

        <!-- Login Modal -->
        <div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body" style="display: flex; justify-content: center; align-items: center;">
                    <div class="mb-md-5 mt-md-4 pb-5 text-center" style="width: 300px;">
                        <h2 class="fw-bold mb-2" id="modal-title">Create an account</h2>
                        <!-- <p class="mb-4" style="color: gray; font-size: small;">Already a member? <a href="/login" class="fw-bold custom-link">Log in</a></p> -->
                        <p id="modal-subtitle" class="mb-4" style="color: gray; font-size: small;"></p>
                        
                        <!-- First register page -->
                        <div id="firstregisterpage">
                          <div class="mb-4">
                            <input type="email" id="email" name="email" class="form-control form-control-lg register-form-input"
                              placeholder="Enter Email Address" />
                          </div>
                          <button class="btn btn-lg px-5 register-submit-button" onclick="proceedToNext()">Next</button>
                        </div>
                        
                        <!-- Second register page -->
                        <div id="nextregisterpage" style="display: none;">
                          <div class="mb-4">
                            <input type="text" id="username" name="username" class="form-control form-control-lg register-form-input"
                              placeholder="Username (no special characters)" />
                          </div>
                
                          <div class="mb-4">
                            <input type="password" id="password" name="password"
                              class="form-control form-control-lg register-form-input" placeholder="Password (at least 6 characters)" />
                          </div>
                          <button class="btn btn-lg px-5 register-submit-button" onclick="registerUser()">Register</button>
                        </div>

                        <!-- Login page -->
                        <div id="loginpage" style="display: none;">
                            <form action="/login" method="post">
                                <div class="mb-4">
                                  <input type="text" id="username" name="username" class="form-control form-control-lg register-form-input"
                                    placeholder="username" />
                                </div>
                    
                                <div class="mb-4">
                                  <input type="password" id="password" name="password"
                                    class="form-control form-control-lg register-form-input" placeholder="password" />
                                </div>
                    
                                <p class="small mb-4" style="font-size: small;"><a class="custom-link" href="#!">Forgot password?</a></p>
                    
                                <button class="btn btn-lg px-5 register-submit-button" type="submit">Login</button>
                            </form>
                        </div>
              
                        <div class="separator mt-5 mb-5">
                          <div class="separator-line"></div>
                          <div class="or-text">OR</div>
                          <div class="separator-line"></div>
                        </div>
              
                        <div style="font-size: x-small; color: gray; line-height: 2.0;">
                          <p>By clicking "Next", "Sign up with Google", or "Sign up with Apple" you agree to our <a class="custom-link" href="/">Terms of Use</a> and acknowledge that you've read and understood our <a class="custom-link" href="/">Privacy Policy</a>.</p>
                        </div>
              
                        <p id="servermessage"></p>
              
                      </div>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
              </div>
            </div>
          </div>


        <div class="footer"></div>
    </div>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>

         var isTagsExpanded = true;
         var tags;
         var tagsDiv = document.getElementById('tags');
         var tagsContainer = document.createElement('div');
         tagsContainer.classList.add('tags-container');

         const loginModal = new bootstrap.Modal(document.getElementById('loginModalCenter'));
 
          document.addEventListener('DOMContentLoaded', function () {
              fetchTags();
              buildSuggestedPeopleList();
              startRegisterPage(); // prepare the register modal

              // check if invalid credentials message present in the url
              var urlParams = new URLSearchParams(window.location.search);
              var messageParameter = urlParams.get('message');
              console.log(messageParameter);
              if(messageParameter && messageParameter === 'Invalid credentials.') {
                showLoginModal(messageParameter);
              }

          });

          function showLoginModal(addonMessage) {
            if(addonMessage.trim() !== '') {
                const servermessageDiv = document.getElementById('servermessage');
                servermessageDiv.style.color = 'red';
                servermessageDiv.innerText = addonMessage;
            }
            loginModal.show();
            proceedToLogin(); 
          }

          function showRegisterModal() {
            startRegisterPage();
            loginModal.show();
          }
 
          function fetchTags() {
              fetch('/gettags')
                  .then(response => {
                  if (!response.ok) {
                      throw new Error(`Network response was not ok: ${response.statusText}`);
                  }
                  return response.json();
                  })
                  .then(data => {
                  console.log('Fetched data:', data);
                  tags = data.tags;
                  displayTags(data.tags, 7);
                  })
                  .catch(error => {
                  console.error('Error during fetch:', error.message);
                  });
          }
 
          function displayTags(tags, count) {
             tagsContainer.innerHTML = ``;
             if(tags.length > 0) {
                      tagsDiv.style.display = "block";
                      tags.slice(0, count).forEach(tag => {
                         if(tag.trim().length !== 0) {
                            var buttonElement = document.createElement('button');
                            buttonElement.type = 'button';
                            buttonElement.classList.add('homepage-btn-rounded');
                            buttonElement.textContent = tag;
                            buttonElement.style.marginBottom = '10px';
                            tagsContainer.appendChild(buttonElement); 
 
                         }  
                      });
 
                      tagsDiv.appendChild(tagsContainer);
 
             } else {
                 tagsDiv.style.display = "none";
             }
          }
 
          function toggleTagsview(button) {
             if(isTagsExpanded) {
                 displayTags(tags, tags.length);
                 button.textContent = 'see less'
                 isTagsExpanded = false;
             } else {
                 displayTags(tags, 7);
                 button.textContent = 'see more'
                 isTagsExpanded = true;
             }
 
          }
          
 
         async function buildSuggestedPeopleList() {
             fetch('/homepage/getSuggestedPeople')
                 .then(response => {
                     if (!response.ok) {
                         throw new Error('Network response was not ok');
                     }
                     return response.json();
                 })
                 .then(data => {
                     const userList = document.getElementById('userList');
                     userList.innerHTML = ``;
                     console.log(data.suggestedpeople);
                     data.suggestedpeople.forEach(communityuser => {
                     // is data.loggedinuser._id included in communityuser.paidsubscribers array?
                     const displayName = communityuser.firstname ? `${communityuser.firstname} ${communityuser.lastname} (@${communityuser.username})` : communityuser.username;
                     var bio = communityuser.bio;
                     if(bio) {
                         if(bio.length > 50) {
                             bio = bio.substring(0, 100) + '...'
                         }
                     } else {
                         bio = '';
                     }
                     const listItem = document.createElement('li');
                     listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                     listItem.innerHTML = `
                     <div class="flex-shrink-0" style="width: 250px;">
                         <h5 class="mb-1 homepage-user-list-title">${displayName}</h5>
                         <small class="user-list-subtitle">${bio}</small>
                     </div>
                     <button class="btn btn-sm ml-auto">
                             ${communityuser.followers.length}
                     </button>
                     `;
 
                         userList.appendChild(listItem);
                     });
                 })
                 .catch(error => {
                     console.error('Error fetching data: ', error);
                 });
 
         }

         function highlightNavItem(element) {
            var navItems = document.querySelectorAll('.nav-item');
            navItems.forEach(function (item) {
                item.classList.remove('active');
            });

            element.classList.add('active');
        }

        const servermessageDiv = document.getElementById('servermessage');
        const firstregisterpageDiv = document.getElementById('firstregisterpage');
        const nextregisterpageDiv = document.getElementById('nextregisterpage');
        const loginpage = document.getElementById('loginpage');
        const modaltitle = document.getElementById('modal-title');
        const modalsubtitle = document.getElementById('modal-subtitle');
        var email, username, password;

        function startRegisterPage() {
            firstregisterpageDiv.style.display = 'block';
            nextregisterpageDiv.style.display = 'none';
            loginpage.style.display = 'none';
            modaltitle.innerText = 'Create an Account';
            modalsubtitle.innerHTML = `Already a member? <a href="javascript:void(0);" class="fw-bold custom-link" onclick="proceedToLogin()">Log in</a>`;
            servermessageDiv.innerText = '';
        }

        function proceedToNext() {
            email = document.getElementById('email').value;
            firstregisterpageDiv.style.display = 'none';
            nextregisterpageDiv.style.display = 'block';
            loginpage.style.display = 'none';
            modaltitle.innerText = 'Create an Account';
            modalsubtitle.innerHTML = `Already a member? <a href="javascript:void(0);" class="fw-bold custom-link" onclick="proceedToLogin()">Log in</a>`;

        }

        function proceedToLogin() {
            console.log('proceed to login');
            firstregisterpageDiv.style.display = 'none';
            nextregisterpageDiv.style.display = 'none';
            loginpage.style.display = 'block';
            modaltitle.innerText = 'Login';
            modalsubtitle.innerHTML = `Don't have an account? <a href="javascript:void(0);" class="fw-bold custom-link" onclick="startRegisterPage()">Register</a>`;
        }

        function registerUser() {
            username = document.getElementById('username').value;
            password = document.getElementById('password').value;

            // TODO: Validate registration fields before calling register API.
            // Add server side validation XSS attack checks as well

            var jsondata = {
            email: email,
            username: username,
            password: password
            };

            fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsondata)
            })
            .then(response => {
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(JSON.stringify(data));
                data.regstatus !== 'ok' ? servermessageDiv.style.color = 'red' : servermessageDiv.style.color = 'green';
                servermessageDiv.innerText = data.servermessage;
            })
            .catch(error => {
                console.error('There was a problem during registration:', error);
                // Handle error, if needed
            });

        }
          
    </script>
</body>

</html>
